<form method="post" action="{{ path('app_campaign_delete', {'id': campaign.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ campaign.id) }}">
    <button class="btn">Delete</button>
</form>
